@page
@using _0_Framework.Application
@using _0_Framework.Infrastructure
@model ServiceHost.Areas.Dashboard.Pages.CoursesModel
@inject IAuthHelper _authHelper
@{
    var account = _authHelper.CurrentAccountInfo();
    var accountRole = _authHelper.CurrentAccountRole();
    ViewData["Title"] = "دوره های خریداری شده";
    ViewData["Image"] = "Theme/img/Logo.png";
}
<section class="page-title bg-cover bg-header" style="background: url(/Theme/img/Banner11.jpg)no-repeat;" data-overlay="8">
</section>
<section class="gray pt-4">
    <div class="container-fluid">

        <div class="row">


            @await Component.InvokeAsync("Navbar")


            <div class="col-lg-9 col-md-9 col-sm-12">

                <!-- Row -->
                <div class="row justify-content-between">
                    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
                        <div class="dashboard_wrap d-flex align-items-center justify-content-between">
                            <div class="arion">
                                <nav class="transparent">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">لیست دوره ها</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="dashboard_wrap">

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-4">
                                    <h6 class="m-0">لیست دوره ها</h6>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
                                    <div class="table-responsive">
                                        <table class="table dash_list">
                                            <thead>
                                                <tr>
                                                    <th scope="col">عنوان</th>
                                                    <th scope="col">دسته بندی</th>
                                                    <th scope="col">وضعیت</th>
                                                    <th scope="col">قیمت</th>
                                                    @if (accountRole==Roles.Teacher)
                                                    {
                                                        <th scope="col">عملیات</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var course in Model.Courses)
                                                {
                                                    <tr>
                                                        <td><a asp-page="./Course" asp-route-id="@course.Slug">@course.Title</a><p>مدرس:<span>@course.Teacher</span></p></td>
                                                        <td><div class="dhs_tags">@course.Category</div></td>
                                                        @if (course.IsPaid)
                                                        {
                                                            <td><span class="trip theme-cl theme-bg-light">فعال</span></td>

                                                        }
                                                        else
                                                        {
                                                            <td><span class="trip text-danger bg-light-danger">پرداخت</span></td>

                                                        }
                                                        <td><span class="trip theme-cl theme-bg-light">@course.Price</span></td>

                                                        @if (accountRole == Roles.Teacher)
                                                        {
                                                            <td>
                                                                <a asp-page="Students" asp-route-id="@course.Id" class="btn theme-bg btn-rounded">دانشجوها</a>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-6 col-lg-6 col-md-12">
                                    <p class="p-0">نمایش 1 تا 15 از 15</p>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12">
                                    <nav class="float-right">
                                        <ul class="pagination smalls m-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-arrow-circle-right"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">2 <span class="sr-only">(صفحه جاری)</span></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="fas fa-arrow-circle-left"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>